.footer {
  background-color: $tertiary;
  padding: 3rem 1.5rem;

  ol {
    display: flex;
    justify-content: space-around;

    @include desktop {
      display: none;
    }

    li {
      a {
        color: $primary;
      }
    }
  }

  a {
    @include mobile {
      display: block;
    }
  }

  .creative-playground & {
    background-color: transparent;
  }
}
