header.header {
  position: relative;
  z-index: 3;

  .nav {
    &__item {
      font-weight: bold;
      list-style: none;

      a:not(.button) {
        &:hover {
        }
      }

      + .nav__item {
        margin-left: 4rem;
      }
    }
  }
}
