.hero {
  position: relative;
  z-index: 1;

  &-background {
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);

    @include desktop {
      left: 0;
      top: 0;
      transform: translateX(0);
    }

    logo-animation {
      display: block;
      width: 380px;

      @include tablet {
        width: 600px;
      }

      @include desktop {
        width: 1000px;
      }
    }
  }

  &-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    z-index: 2;

    @include desktop {
      flex-direction: row-reverse;
    }

    &__portrait {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      width: 100%;

      @include tablet {
        margin-top: 0;
      }

      @include desktop {
        display: block;
        width: 50%;
      }

      &__img {
        display: flex;
        justify-content: center;

        img {
          width: 200px;

          @include tablet {
            width: 300px;
          }

          @include desktop {
            width: 400px;
          }
        }
      }

      &__info {
        align-items: center;
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding: 1rem 2rem;
        width: 100%;

        @include tablet {
          flex-direction: row;
          justify-content: space-around;
          padding: 2rem 4rem;
        }

        @include desktop {
          flex-direction: row;
          padding: 1.5rem 3rem;
        }
      }
    }

    &__cnt {
      width: 100%;

      @include desktop {
        width: 50%;
      }
    }
  }
}
