.page-grid {
  @include desktop {
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2.25rem;
  }

  main {
    grid-column: 1/2;
  }

  .socialnav-wrapper {
    grid-column: 2/3;
  }
}
