.socialnav-wrapper {
  .socialnav {
    bottom: 0;
    position: fixed;

    ol {
      align-items: center;
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        + li {
          margin-top: 0.5rem;
        }

        a {
          color: $primary;

          svg {
            &:hover {
              animation: shakeY 1s;
            }
          }
        }
      }

      &::after {
        background-color: $primary;
        content: "";
        display: block;
        height: 250px;
        margin-top: 0.5rem;
        width: 1px;
      }
    }
  }
}

@keyframes shakeY {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(0, -2px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(0, 2px, 0);
  }
}
