.tech-logos {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem 2rem;

  img {
    max-height: 150px;
  }

  [data-framework="vite"] {
    grid-column: 2;
    grid-row: 1;
  }

  [data-framework="kirby"] {
    grid-column: 1;
    grid-row: 2;
  }

  [data-framework="svelte"] {
    grid-column: 3;
    grid-row: 2;
  }

  [data-framework="vue"] {
    grid-column: 2;
    grid-row: 3;
  }
}
