$primary: #1a1a1a;
$primary-invert: $white;
$secondary: #ffe576;
$secondary-invert: $primary;
$tertiary: #e5ecff;
$tertiary-invert: $primary;
$custom-colors: (
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
  "tertiary": (
    $tertiary,
    $tertiary-invert,
  ),
);
$text: $primary;
