$primary: #1a1a1a;
$primary-invert: $white;
$secondary: #ffe576;
$secondary-invert: $primary;
$grey-light: #f1f1f1;
$grey-lighter: #f9f9f9;
$custom-colors: (
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
);
$text: $primary;
