.button {
  border-radius: 0;
  transition: background-color 0.2s ease;

  &.is-secondary {
    &:hover {
      background-color: darken($secondary, 10%);
    }
  }

  &.is-text {
    text-decoration: none;
  }
}
