.button {
  border-radius: 0;
  font-family: $family-secondary;
  font-weight: $weight-bold;
  padding: 1.5rem 3rem;
  transition: background-color 0.2s ease;

  &.is-secondary {
    &:hover {
      background-color: darken($secondary, 10%);
    }
  }

  &.is-text {
    text-decoration: none;

    &::before {
      background-color: $secondary;
      bottom: 25%;
      content: "";
      display: inline-block;
      height: 25%;
      left: 0;
      position: absolute;
      transition: width 0.2s ease;
      width: 0;
      z-index: -1;
    }

    &:hover {
      background-color: transparent;

      &::before {
        width: 100%;
      }
    }
  }
}
