.section {
  @include mobile {
    padding: 1rem 1.5rem;
  }

  &--fixed {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: 2;
  }

  &--title-sticky {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    h2 {
      font-size: 14rem;
    }
  }

  &#uebermich {
    position: relative;
    z-index: 2;
  }
}
