.section {
  @include mobile {
    padding: 1rem 1.5rem;
  }

  &--fixed {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: 2;
  }

  &--half-up {
    @include desktop {
      transform: translateY(-10%);
    }
  }

  &#uebermich {
    position: relative;
    z-index: 2;
  }
}
