<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <a href="index.html">
          <img
            src="/src/assets/svg/alexander-driessen-logo-monogram.svg"
            alt="Logo Alexander Drießen"
            width="100"
          />
        </a>
        <span class="is-block mt-4 has-text-weight-bold">Alexander Drießen</span>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a href="">Impresum</a>
        <a href="">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>