<header class="header">
  <div class="columns is-vcentered">
    <div class="column has-text-centered-touch">
      <a href="index.html">
        <img
          src="/src/assets/svg/alexander-driessen-logo-monogram.svg"
          alt="Alexander Drießen Monogram"
        />
      </a>
    </div>
    <div class="column is-8 is-hidden-touch has-text-right">
      <nav class="nav">
        <ol class="is-flex is-justify-content-flex-end is-align-items-center">
          <li class="nav__item">
            <a href="#uebermich" class="button is-text has-text-primary">
              Über mich
            </a>
          </li>
          <li class="nav__item">
            <a href="#erfahrung" class="button is-text has-text-primary">
              Erfahrung
            </a>
          </li>
          <li class="nav__item">
            <a href="tel:015257803120" class="button is-text is-size-4">
              +49 1525 7803120
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</header>