<header id="header" class="header">
  <div class="columns is-vcentered">
    <div class="column has-text-centered-touch">
      <a href="/">
        <img
          src="/src/assets/svg/alexander-driessen-logo-monogram.svg"
          alt="Alexander Drießen Monogram"
        />
      </a>
    </div>
    <div class="column is-8 is-hidden-touch has-text-right">
      <a href="tel:015257803120" class="button is-text is-size-4">
        +49 1525 7803120
      </a>
    </div>
  </div>
</header>