<div class="socialnav-wrapper is-hidden-touch">
  <div class="socialnav">
    <ol>
      <li>
        <a
          href="https://www.instagram.com/alex.driessen/"
          target="_blank"
          title="Instagram-Link Alexander Drießen"
        >
          <i class="feather-36" data-feather="instagram"></i>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/alex-kave"
          target="_blank"
          title="Github-Link Alexander Drießen"
        >
          <i class="feather-36" data-feather="github"></i>
        </a>
      </li>
    </ol>
  </div>
</div>